body {
  line-height: 1.5;
  font-family: 600;
  font-family: Arial, Helvetica, sans-serif;
}
@media (min-width: 1200px){
  .menu-left {
    padding: 0 !important;
  
    background-color: #f2f2f2;
    top: 52px;
    width: 25%;
  }
}
.wrapper .navbar {
  z-index: 1;
  position: fixed;
  background-color: #1e73be;
  color: #ddd;
  width: 100%;
}

/* .navbar-color li a{
    color:#FFFFFF !important;
} */
.navbar-color li .color:hover {
  background-color: #141414 !important;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none; /*ẩn danh sách đổ xuống*/
  position: absolute;
  z-index: 1;
  background-color: #f5f5f5;
}
.dropdown:hover .dropdown-content {
  display: block; /*hiện danh sách đổ xuống khi hover vào*/
}
.menu-left {
  padding: 0 !important;

  background-color: #f2f2f2;
  top: 52px;
  width: 253px;
}
.main-menu {
  border-right: 1px solid #f2f2f2;
  width: 253px;

  padding: 0;
  display: inline-block;
  position: relative;
}
.main-menu li {
  background: white;
  list-style: none;
  padding: 5px 0;
  margin-left: 0px;
  border-bottom: 1px solid #f2f2f2;
}
.main-menu li a {
  color: #23282d;
  font-size: 14px;
  display: block;
  padding: 5px 0px 5px 15px;
}

.sub-menu {
  z-index: 9999;
  padding: 0;
  position: absolute;
  left: 253px;
  background-color: #23282d;
  width: 100%;
  display: none;
}
.menu-tp {
  position: relative;
}
.main-menu li:hover .sub-menu {
  top: 0px;
  display: block;
}
.menu-right {
  padding-left: 0;
  margin-top: 52px;
  background: #f2f2f2;
  padding-right: 0;
}
.navbar-default .navbar-brand {
  font-size: 14px;
  color: #ffff !important;
}
.navbar {
  margin-bottom: 0 !important;
}
.navbar-default .navbar-collapse {
  border-bottom: none !important;
}
.navbar-default {
  border-color: #23282d !important;
  border-radius: 0 !important;
}
.main-menu li a:hover {
  text-decoration: none;
  color: #141414;
}
.main-menu li:hover {
  color: #141414 !important;
  background-color: #ddd;
}
i.fas.fa-home {
  color:: #0a0a0a;
}
.menu-tp .caret {
  display: none;
}
/* @media (max-width: 768px){
    ul.main-menu {
        text-align: center;
        width: 100%;
        position: relative;
        justify-content: center;
        align-items: center;
    }
} */
.id-search {
  margin: 10px auto;
}
@media (min-width: 320px) and (max-width: 768px) {
  .menu-left {
   
    width: 100%;
  }
  ul.main-menu {
    text-align: center;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .menu-tp .caret {
    display: inline-block;
  }
  .sub-menu {
    left: 0;
    z-index: 9999;
    padding: 0;
    position: absolute;
    background-color: #23282d;
    width: 100%;
    display: none;
  }
  .main-menu li:hover .sub-menu {
    top: 0px;
    display: none;
  }
  .form-group {
    float: left;
    margin-right: 5px;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 253px;
  margin: auto;
  text-align: center;
  font-family: arial;
  position: relative;
}
.card-td {
  justify-content: center;
  align-items: center;
  max-width: 150px;
  display: inline-block;
}
.card img {
  vertical-align: middle;
  width: 100%;
  border-radius: 50%;
  height: 150px;
}
img {
  width: 100%;
  max-width: 100%;
}
.color {
  color: #f2f2f2 !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #141414 !important;
  color: #f2f2f2 !important;
}
.signin-left,
.signin-right {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.form-login {
  background: url(../img/undraw_book_lover_mkck.png) no-repeat 70px 170px;
  background-size: 45%;
  height: 100vh;
}
.form-signin {
  box-shadow: 0px 0px 0px 2px #ccc;
  padding: 50px;
  width: 60%;
  text-align: center;
  background-color: #ffffff;
}
.backgorup-height {
  height: 100%;
}
.sign-color {
  color: #888888;
}
.space {
  padding: 2px;
  background-color: #ddd;
  width: 75px;
  margin: 20px auto;
}
.form-signin input {
  padding: 18px;
  width: 80%;
  margin: 20px auto;
}
.form-signin button {
  margin: 2px;
}

.back-link {
  background-color: #ddd;
  padding: 10px;
  font-size: 16px;
}
.navbar-default .navbar-nav > .active > a {
  background-color: #ddd !important;
  color: black !important;
}
.back-link a {
  color: #000000;
}
.back-link {
  padding: 10px;
  font-size: 16px;
}
.title-class{
  margin:10px 0;
  width: 90px;
  position: relative;
}
.icon {
  top: 0;
  position: absolute;
  box-sizing: border-box;
  border-top: 18px solid transparent;
  border-left: 24px solid #ff8949;
  border-bottom: 18px solid transparent;
  border-right: 24px solid transparent;
  left: 90px;
}
.title-class .title-content {
  text-align: center;
  cursor: pointer;
  background-color: #ff8949;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  line-height: 1;
}
.title-subjects{
  position:relative;
}
.title-subject {
  max-width: 300px;
  position: relative;
  margin: 10px 120px;
}
.content-sub {
  cursor: pointer;
  display: inline-block;
  background-color: #5cb85c;
  width: 90px;
  padding: 8px;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  font-weight: 500;
  color: #ffff;
  margin:2px;
}
.main-contents {
  margin-left:60px;
  padding: 5px 0;
  position: relative;
  border-bottom: 1px solid #ddd;
}
.active {
  background-color: #ddd !important;
}
.top-title{
  padding: 15px;
  display: flex;
  justify-content: revert;
  justify-items: flex-start;
  font-size: 20px;
  line-height: 1.5;
}
.add-new{
  border-radius: 8px;
  margin-left: 20px;
  background-color: #084e8a;
  font-size: 16px;
  padding: 2px 14px;
  border: none;
  cursor: pointer;
  text-align: center;
  color: #ffff;
}
.form-quesstion{
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-quesstion{
  box-shadow: 0px 0px 0px 2px #ccc;
    padding: 50px;
    width: 60%;
    background-color: #ffffff;
}
.title-qs{
  text-align: center;
  font-size:18px;
  font-weight: 600;
}
tr {
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
tr td, tr th {
  border: 1px solid #ddd;
}
.content-action{
  display: none;
}
.content-cover:hover .content-action {
  display: block;
}
.color-red{
  color:red;
}
.content-action a {
  font-size: 11px;
}
.modal-dialog {
  width: 386px;
}
div#modalLoginForm {
  transform: translateY(20%);
}
.form-quiz{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    width: 350px;
}
.form-quiz .form-group label {
  float: left;
  padding: 10px;
}
.form-quiz .form-group input{
  float:left;
  width:55px;
}
.footer{
  background: #000000;
  padding: 36px 0;
}
.footer h4 {
  color: aliceblue;
  text-transform: capitalize;
  font-size: 25px;
  margin-bottom: 1.5em;
  letter-spacing: 2px;
  font-family: 'Anton', sans-serif;
}
.footer a, .footer p {
  display: block;
  color: #bbbbbb;
  line-height: 28px;
  font-size: 15px;
  letter-spacing: .7px;
}
.clearfix{
  clear: both;
}
i.fas.fa-question-circle {
  color: red;
}
i.fas.fa-book-open {
  color: #aaaa3d;
}
i.fas.fa-user-graduate {
  color: cadetblue;
}
.menu-tp a i{
  font-size: 18px ;
}
i.fas.fa-pen-square {
  color: red;
}
i.fas.fa-file-export {
  color: brown;
}